h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.address {
  font-style: normal;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --accent-color: #2196f3;
  --main-color: #212121;
  --secondary-color: #757575;
  --black-color: #000000;
  --white-color: #ffffff;
  --icon-fill-grey: #afb1b8;
  --section-pt: 94px;
  --section-pb: 94px;
}

body {
  font-family: var(--main-font);
  color: var(--main-color);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* COMPONENT */
.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo-black {
  color: var(--black-color);
}
.logo-white {
  color: var(--white-color);
}
.title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.social-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--white-color);
}
.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent-color);
}
.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: var(--white-color);
}
.social-list-icon {
  fill: #afb1b8;
}
/* END COMPONENT */

/* header */
.header {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 24px;
  padding-bottom: 25px;
  background: var(--white-color);
  border-bottom: 1px solid #ececec;
}
.header .container {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
}
.header .logo {
  margin-right: 93px;
}
.navigation-list {
  display: flex;
  align-items: center;
}
.navigation-item:not(:last-child) {
  margin-right: 50px;
}
.navigation-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
}
.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-color);
}
.contact-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.contact-item:not(:last-child) {
  margin-right: 30px;
}
.contact-icon {
  margin-right: 10px;
  fill: var(--secondary-color);
}
.contact-link:hover .contact-icon,
.contact-link:focus .contact-icon {
  fill: var(--accent-color);
}
.contact-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}
/* end header */

/* hero */
.hero {
  max-width: 1600px;
  margin: 0 auto;
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  margin: 0 auto 30px;
  width: 696px;
}
.modal-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  cursor: pointer;
  display: flex;
  text-align: center;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  color: var(--white-color);
  padding: 10px 32px;
  margin: 0 auto;
}
/* end hero */

/* description */
.description {
  padding-top: var(--section-pt);
  padding-bottom: 47px;
}
.description-list {
  display: flex;
}
.description-item {
  width: 270px;
}
.description-item:not(:last-child) {
  margin-right: 30px;
}
.container-icon {
  display: flex;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.description-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.description-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
/* end description */

/* gallery */
.gallery {
  padding-top: 47px;
  padding-bottom: var(--section-pb);
}
.gallery .title {
  margin-bottom: 50px;
}
.gallery-list {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}
.gallery-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}
/* end gallery */

/* our team */
.ourteam {
  background: #f5f4fa;
  max-width: 1600px;
  margin: 0 auto;
  padding-top: var(--section-pt);
  padding-bottom: var(--section-pb);
}
.ourteam .title {
  margin-bottom: 50px;
}
.ourteam-list {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}
.ourteam-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.ourteam-list-content {
  padding: 30px 32px;
  background: var(--white-color);
}
.ourteam-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.ourteam-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  margin-bottom: 16px;
}
/* end our team */

/* Regular customers */
.clients {
  padding-top: var(--section-pt);
  padding-bottom: var(--section-pb);
}
.clients .title {
  margin-bottom: 50px;
}
.clients-list {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}
.clients-item {
  flex-basis: calc(100% / 6 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}
.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}
.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-color);
}
.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--accent-color);
}
.clients-icon {
  fill: var(--icon-fill-grey);
}
/* END Regular customers */

/* footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f303a;
  max-width: 1600px;
  margin: 0 auto;
}
.footer .container {
  display: flex;
}
.footer-address .logo {
  display: inline-block;
  margin-bottom: 20px;
}
.footer-address {
  width: 231px;
  margin-right: 70px;
}
.footer-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer-link-light {
  color: var(--white-color);
}
.footer-link-dark {
  color: rgba(255, 255, 255, 0.6);
}
.footer-social {
  width: 206px;
  margin-top: 12px;
  margin-bottom: 40px;
}
.footer-social-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}
.footer-social-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}
.footer-social-icon {
  fill: var(--white-color);
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
}
/* end footer*/

/* PORTFOLIO */
.portfolio {
  padding-top: var(--section-pt);
  padding-bottom: var(--section-pb);
}
.portfolio-list-btns {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}
.portfolio-list-btns-item:not(:last-child) {
  margin-right: 8px;
}
.portfolio-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  background: #f5f4fa;
  padding: 6px 22px;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--white-color);
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.portfolio-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}
.portfolio-border {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}
.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
.portfolio-list-link {
  display: flex;
  flex-direction: column;
}
.portfolio-list-link:hover,
.portfolio-list-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
/* END PORTFOLIO */
